:root {
    --cltama : #7a2525;
    --cltxt : #351212;
}

.average-sans-regular {
  font-family: "Average Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-family: "Average Sans", sans-serif;
    text-align: center;
    color: var(--cltama);
    
}

body {
    /* Warna background */
    background-color: #f4fbf7; 
            background-image: 
                radial-gradient(circle at 10% 85%, rgba(173, 2, 16, 0.493) 0%, transparent 40%),
                /* radial-gradient(circle at 10% 85%, rgba(155, 0, 13, 0.6) 0%, transparent 40%), */

                /* radial-gradient(circle at 85% 10%, rgba(173, 2, 16, 0.514) 0%, transparent 40%), */
                radial-gradient(circle at 85% 10%, rgba(155, 0, 13, 0.486) 0%, transparent 40%);
                min-height: 100vh;
                
}

.toolbar{
    display:flex;
    align-items:center;
    gap:6px;
    width: fit-content;
    /* background:#252526; */
    background-color: rgba(122, 0, 10, 0.199);
    padding:8px;
    border-radius:10px;
    /* border:1px solid #333; */
    margin-bottom:15px;
    /* box-shadow:0 0 10px rgba(54, 0, 0, 0.514); */
}

/* =========================
   BUTTON TOOLBAR
========================= */
.toolbar button{
    width:40px;
    height:40px;
    border:none;
    outline:none;
    border-radius:6px;
    background:transparent;
    /* color:#cccccc; */
    color: var(--cltama);
    cursor:pointer;
    font-size:16px;
    transition:0.2s;
}

/* =========================
   HOVER BUTTON
========================= */
.toolbar button:hover{
    background:#37373d;
    color:white;
}

/* =========================
   ACTIVE BUTTON
========================= */
.toolbar button:active{
    transform:scale(0.95);
}

/* =========================
   GARIS PEMBATAS
========================= */
.separator{
    width:1px;
    height:25px;
    background:#444;
    margin:0 5px;
}


/* area teks */
#editor {
    width: 100%;
    height: 300px;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    resize: none;
    border-radius: 10px;
    /* background: #2b2b2b; */
    background-color: rgba(122, 0, 10, 0.199);
    color:var(--cltxt);
    box-sizing: border-box;
    font-family: "Average Sans", sans-serif;
}

textarea::placeholder {
    color: rgba(122, 0, 10, 0.548);
}

/* Container histori */
.history-container {
    margin-top: 20px;
    /* background: #2b2b2b; */
    background-color: rgba(122, 0, 10, 0.199);
    padding: 15px;
    border-radius: 10px;
    border: none;
    margin-bottom: 0;
    
}

/* Judul histori */
.history-container h2 {
    margin-top: 0;
    font-family:"Average Sans", sans-serif;
    text-align: center;
    color: var(--cltama);
}

/* List histori */
#historyList {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 250px;
    overflow-y: auto;
    border: none;

}

/* Item histori */
#historyList li {
    padding: 2px;
    margin-bottom: 5px;
    /* background: #3b3b3b; */
    font-family:"Average Sans", sans-serif;
    border-radius: 5px;
    font-size: 14px;
    border: none;
}

#historyList {
    max-height: 220px;
    
    overflow-y: auto;
}

#historyList::-webkit-scrollbar {
    width: 10px;
}

#historyList::-webkit-scrollbar-track {
    background-color: rgba(122, 0, 10, 0.199);
    
}

#historyList::-webkit-scrollbar-thumb {
    background-color: rgba(122, 0, 10, 0.699);
    border-radius: 10px;
}

#historyList::-webkit-scrollbar-thumb:hover {
    background: var(--cltama);
}